@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
}

.card-1{
    background-image:linear-gradient(60deg,rgb(47, 47, 47), transparent), url(../Images/2.png);
    background-repeat: no-repeat;
width: 573px;
height: 338px;
}
.card-2{
    background-image: url(../Images/3.png);
    background-repeat: no-repeat;
width: 573px;
height: 338px;
}